html ,body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    background:#f5f5f5;
    overflow-x: hidden;

}
.container{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 0 1rem;
  padding-right:6rem;
}

.battery{
  position:relative;
  background-color:white;
  width:20vw;
  margin-top:5vh;
  height:15vh;
  border:10px solid red;
  border-radius:10px;
  overflow:hidden;
  
}
.range{
  position:absolute;
  width:100%;
  height:100%;
  background:repeating-linear-gradient(70deg,yellow,yellow 5%,black 5%,black 10% );
  animation:fast linear  2s infinite; 
}

.lord-of-ring{
    margin-top:5vh;
    margin-left:3rem;
}

.ring{
  position:relative;
  margin:5vh auto;
  width:100px;
  height:50px;
  background:white;
  border:10px solid orange;
/*   border-top-color:red; */
  animation:ring 2s linear infinite,
            pulse 1s ease-in-out infinite;
  border-radius:50%;
  box-shadow:0px 0px 2px black;
}

.audi-logo{
    margin:5vh 0 0 3rem;
  }
  
  @keyframes fast{
    0%{
      width:0%;
    }
    100%{
      width:100%;
    }
  }
  
  
  h1{
    text-align:center;
    margin:0;
    color:red;
  }
  .audi{
    position:relative;
    margin:5vh auto;
    width:100px;
    height:100px;
    background:white;
    border:10px solid orange;
  /*   border-top-color:red; */
    animation:spin 2s linear infinite,
              pulse 1s ease-in-out  infinite;
              border-radius:50%;
              box-shadow:0px 0px 2px black;
              
            }
            .spin-left{
                position:absolute;
                margin:5vh auto;
                width:100px;
                height:100px;
    background:transperant;
    border:10px solid blue;
    border-radius:50%;
    box-shadow:0px 0px 2px rgba(0,0,0,1);
    left:-45px;
    bottom:-120px; 
    
  /*    animation:spin-to 2s linear infinite; */
    
}
.spin-right{
    position:absolute;
    margin:5vh auto;
    width:100px;
    height:100px;
    background:transperant;
    border:10px solid green;
    border-radius:50%;
    box-shadow:0px 0px 2px rgba(0,0,0,1);
    right:-40px;
    bottom:-120px; 
}

.walking img{
    animation:walk 8s infinite steps(100);
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    50%{
        border:10px solid red;
        
    }
    100%{
        transform:rotate(360deg);
    }
}
/* @keyframes spin-to{
    0%{
        transform:rotate(0deg);
        
    }
    100%{
        transform:rotate(360deg)
    }
} */
@keyframes pulse{
    0%,100%{
      opacity:.8;
    }
    50%{
      opacity:.4;
    }
   
  }
  @keyframes walk{
      0%,100%{
          margin-left:0;
          /*     transform:rotateY(180deg); */
          
    }
    50%{
      margin-left:30rem;
      transform:rotateY(180deg);
    }
  }
              @keyframes ring{
                  0%{
              transform:rotate(0deg);
              }
              100%{
              transform:rotate(360deg);
              }
              }

              .nav{
                display:flex;
                height:64px;
                background:aqua;
                justify-content:space-between;
                align-items:center;
                padding:0 1em;
                margin-top:2rem;
              }
              .spacer{
                flex-grow:.45;
              }
              .triangle{
                width:0;
                height:0;
                border-top:100px solid transparent;
                border-left:200px solid orange;
                border-bottom:100px solid transparent ;
                
              }
              .container{
                display:flex;
                margin-top:20px;
                align-items:center;
                
                
              }
              .circle{
                width:20%;
                
              }
              .circle-shape{
                float:left;
                width:100px;
                height:100px;
                background-color:blue;
                shape-outside:circle(50% at 30%);
                clip-path:circle(50% at 0%);
                margin:20px;
              /*   transform:rotate(90deg) */
                
              }
              .ellipse{
                margin-left:100px;
                width:20%;
              }
                .ellipse-shape{
                  float:left;
                  width:100px;
                  height:100px;
                  background:red;
                  shape-outside:ellipse(20% 50%);
                  clip-path:ellipse(20% 50%);
                  margin:20px;
                  
                }
              .polygon{
                margin-left:100px;
                width:20%;
              }
              .polygon-shape{
                float:left;
                width:100px;
                height:100px;
                margin:20px;
                background:green;
                clip-path:polygon(
                  25% 0,
                  50% 50%,
                  75% 0,
                  75% 100%,
                  65% 100%,
                  65% 60%,
                  50% 80%,
                  35% 60%,
                  35% 100%,
                  25% 100%
                );
              
              shape-outside:polygon(
                    25% 0,
                  50% 50%,
                  75% 0,
                  75% 100%,
                  65% 100%,
                  65% 60%,
                  50% 80%,
                  35% 60%,
                  35% 100%,
                  25% 100%
                )
              }
              .image{
                width:20%;
                margin-left:100px;
                
              }
              .image img{
                float:left;
                border-radius:50%;
                width:10em;
                height:10em;
                shape-outside:url(https://images.unsplash.com/photo-1561991524-9eaa9f7d910b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
              }
.glass-container{
  /* margin-bottom: 10px 0 20px; */
  background:url(https://images.unsplash.com/photo-1480497490787-505ec076689f?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.drop-filter , .pseudo{
  background:url(https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 70%;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow:0 0 1rem 0 rgba(0, 0, 0, .8  );

  
}
.glass-dropFilter{
    width: 30rem;
    height: 20rem;
    border-radius: 5px;
    box-shadow:0 0 1rem 0 rgba(0, 0, 0, .2  );
    background-color: rgba(255,255 , 255, .15);
    backdrop-filter: blur(5px);
    text-align: center;
    padding: 1rem;

}
.pseudo{
  background-attachment: fixed;

}
 .pseudo .glass-pseudo{
  padding: 1rem;
   text-align:center;
   position:relative;
   background: inherit;
  width: 30rem;
  height: 20rem;
  border-radius: 5px;
  box-shadow: 0 0 1rem -10px rgba(0,0,0,1);
  overflow: hidden;
  z-index: 2;
  /* box-shadow:0 0 1rem 0 rgba(255, 255, 255, .2  ); */
 }
 .glass-pseudo:after{
   content: "";
   position:absolute;
   top:0;
   bottom: 0;
   right: 0;
   left: 0;
   box-shadow:inset 0 0 2000px rgba(255, 255, 255, .5 );
   background: inherit;
   filter:blur(5px);
    z-index: -1;
    margin:-20px;
 }
 .inset-border{
   margin: 5vw auto;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: green;
  border:solid 6px  blue;
  border-top:solid 6px transparent;
  
 }

 .query-test{
   margin:0 auto 5vh;
   width:max-content;
   
 }
 .anime {
  width: 150px;
  height: 150px;
  background-color: #5ba4fc;
  margin: 30vh auto;
  border-radius: 50%;
  animation: fade 2s ease-in-out infinite;
  transform-origin:center center; 
}
@keyframes fade {
  from {
    transform: scale(0);
  }

  to {
    opacity: 0.5;
  }
}